---
import Icon from "./Icon.astro";
import type { Service } from "../data/types";

interface Props {
  service: Service;
}
const { service } = Astro.props;
---
<article class="service-card" id={service.slug}>
  <span class="icon-badge"><Icon name={service.icon} /></span>
  <h3>{service.title}</h3>
  <p>{service.excerpt}</p>
  <ul class="feature-list">
    {service.highlights.map((h) => <li>{h}</li>)}
  </ul>
</article>
